*.swp
/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

/ssl/
/releases/
/release.sh


# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
